*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%; /* makes sure our HTML takes up 100% of the browser window */
    font-size: 100%;
}

.dark-primary-color    { background: #455A64; }
.default-primary-color { background: #607D8B; }
.light-primary-color   { background: #CFD8DC; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FFC107; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }



.side-nav {
    background-color: #607D8B;
    position: fixed;
    width: 25%;
    top: 0px;
    left: 0px;
    height: 100%;
    min-width: 200px;
    max-width: 250px;
    padding-left: 15px;
}

.side-nav .main-title {
color: #FFFFFF;
margin-bottom: 20px;
}

.side-nav h4 {
color: #FFFFFF;
}
.side-nav h6 {
color: #FFFFFF;
}

.side-nav .new-room-button {
color: #FFFFFF;
margin-right: 15px;
padding: 5px 10px 5px 10px;
}

.cta-hover:hover {
    color: #FFC107;
}




/* Medium and small screens (640px) */
@media (min-width: 640px) {
    html { font-size: 112%; }
    .column {
        float: left;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .column.full { width: 100%; }
    .column.two-thirds { width: 66.7%; }
    .column.half { width: 50%; }
    .column.third { width: 33.3%; }
    .column.fourth { width: 25%; }
    .column.flow-opposite { float: right; }  
}

/* Large screens (1024px) */
@media (min-width: 1024px) {
    html { font-size: 120%; }
}

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}
.clearfix::after {
    clear: both;
}